<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.wangh.dao.GzshDao">

	<insert id="insertGzsh">
        insert into gzguru values (#{id},#{user_id},#{guru_id})
    </insert>

</mapper>
